{% extends "backoffice/layouts/backoffice_base.html" %} 
{% load static %} 
{% block title %}Categorías - Zicada{% endblock %} 
{% block content %}
<div class="space-y-6">
	{% include 'backoffice/components/crud/list_header.html' with title="Categorías" create_url="products:category_create" %}
	{% include 'backoffice/components/crud/list_table.html' with headers=headers rows=rows show_actions=True edit_url_name="products:category_edit" delete_url_name="products:category_delete" empty_message="No hay categorías registradas" page_obj=page_obj %}
</div>
{% endblock %}