#Python
__pycache__/
*.pyc

# Django
*.sqlite3
*.log
db.sqlite3
media/

# Environments
.venv/
.env
.env.prod

# System
.DS_Store
Thumbs.db

# Binding
.vscode

# Coverage reports
reports/
htmlcov/
.coverage
coverage.xml
.coverage.*
*.cover
.coverage.*
*.py,cover

# Test logs
reports/logs/
*.log