{% extends "layouts/base.html" %}
{% load static humanize %}

{% block title %}Carrito - Zicada{% endblock %}

{% block content %}
<div class="bg-black text-white font-poppins min-h-dvh flex flex-col">
    <div class="max-w-[1360px] mx-auto w-full px-4 py-8 md:py-12 flex flex-col gap-8 flex-1">
        <h1 class="text-3xl md:text-4xl font-extrabold tracking-tight">TU CARRITO</h1>
        {% csrf_token %}
        <div id="cart-container" class="flex-1 flex flex-col">
            {% include "orders/cart_partial.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    globalThis.cartConfig = {
        updateUrl: "{% url 'orders:cart_update' %}",
        removeUrl: "{% url 'orders:cart_remove' %}",
        checkoutUrl: "{% url 'orders:checkout' %}",
        csrfToken: "{{ csrf_token|escapejs }}"
    };
</script>
<script src="{% static 'js/orders/cart_detail.js' %}"></script>
{% endblock %}
