{% comment %} Props: title, subtitle, form, submit_text, cancel_url, enctype {% endcomment %}
{% include 'backoffice/components/atoms/page_title.html' with title=title subtitle=subtitle %}
{% include 'backoffice/components/atoms/card.html' %}
  <form method="POST" {% if enctype %}enctype="{{ enctype }}"{% endif %}>
    {% csrf_token %}
    {% include 'backoffice/components/crud/form_fields.html' %}
    <div class="flex justify-end gap-3 mt-6 pt-6 border-t border-gray-200">
      {% if cancel_url %}
        {% include 'backoffice/components/atoms/btn_secondary.html' with href=cancel_url text='Cancelar' %}
      {% endif %}
      {% include 'backoffice/components/atoms/btn_primary.html' with type='submit' text=submit_text|default:'Guardar' %}
    </div>
  </form>
</div>
