{% extends "backoffice/layouts/backoffice_base.html" %}
{% load static %}

{% block title %}Layouts de Galería - Zicada{% endblock %}

{% block content %}
<div class="space-y-6">
    {% include 'backoffice/components/molecules/list_header.html' with title="Layouts de Galería" create_url="core:gallery_layout_create" create_label="Nuevo Layout" %}

    {% include 'backoffice/components/crud/list_table.html' with headers=headers rows=rows show_actions=True edit_url_name="core:gallery_layout_edit" delete_url_name="core:gallery_layout_delete" empty_message="No hay layouts registrados" page_obj=page_obj %}

    <div class="text-right">
        <a href="{% url 'core:gallery_photo_list' %}" class="text-sm text-gray-400 hover:text-gray-600">
            <i class="fas fa-images mr-1"></i> Volver a fotos
        </a>
    </div>
</div>
{% endblock %}
